<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
<h1 align="center">Empoloyee details</h1>
    <table align="center">
        <thead>
        <th>Company</th>
        <th>Name of Employee</th>
        <th>Employee id</th>
        <th>Designation</th>
        <th>Email id</th>
        {% for i in emp %}
        <tr>

                <td>{{  i.companyu}}</td>
                <td>{{i.name}}</td>
                <td>{{i.id}}</td>
                 <td>{{i.designation}}</td>
                <td>{{i.email}}</td>

        </tr>
        {% endfor %}
    </thead>
    </table>
</div>
<a href="{% url 'registration' %}"><button>Add New Employee</button></a>
</body>
</html>